$bg-color: azure;

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 600;
  font-style: normal;
}

body {
  background: $bg-color;
  font-family: "Poppins";
}
